body{

margin:0;

font-family: Georgia, serif;

background:#111;

color:white;

}


.panel{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

max-width:800px;

margin:auto;

text-align:center;

}


.contador{

font-size:80px;

font-weight:bold;

}


#dependencias div,
#jurisdicciones div{

font-size:22px;

margin:5px;

}


#mapa{

height:100vh;

}


.filtros{

margin:20px;

}


select{

padding:10px;

font-size:16px;

margin:10px;

}
